@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../scss/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../scss/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../scss/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../scss/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../scss/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../scss/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../scss/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, ../scss/partials/_variables.scss */
p {
  color: #575757;
}

/* line 13, ../scss/partials/_variables.scss */
h1, h2, h3, h4, h5, h6 {
  color: #484848;
}

/* line 17, ../scss/partials/_variables.scss */
header {
  color: white;
}

/* line 21, ../scss/partials/_variables.scss */
header a {
  color: white;
}

/* line 25, ../scss/partials/_variables.scss */
.ourFeatures p {
  color: #575757;
}

/* line 29, ../scss/partials/_variables.scss */
footer {
  background-color: #273a43;
  color: #fff;
}

/* line 34, ../scss/partials/_variables.scss */
footer p {
  color: #fff;
}

/* line 12, ../scss/partials/_typography.scss */
body {
  font-family: "Open Sans", sans-serif;
}

/* line 16, ../scss/partials/_typography.scss */
a {
  cursor: pointer;
}

/* line 20, ../scss/partials/_typography.scss */
.bold {
  font-weight: bold;
}

/* line 24, ../scss/partials/_typography.scss */
.logo-text {
  font-family: "Pacifico", cursive;
}

/* line 28, ../scss/partials/_typography.scss */
.navigation .logo-text {
  font-size: 30px;
  line-height: 95px;
  padding: 0;
}

/* line 34, ../scss/partials/_typography.scss */
.navigation-fixed .logo-text {
  font-size: 20px;
  line-height: 55px;
  padding: 0;
}

/* line 40, ../scss/partials/_typography.scss */
h2.title {
  text-align: center;
  text-transform: uppercase;
  color: #575757;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

/* line 48, ../scss/partials/_typography.scss */
.titlep {
  text-align: center;
  color: #575757;
  font-size: 14px;
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
}

/* line 56, ../scss/partials/_typography.scss */
.article-title {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 30px;
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
}

/* line 64, ../scss/partials/_typography.scss */
.article-description {
  font-size: 13.5px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
}

/* line 70, ../scss/partials/_typography.scss */
.col-title {
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

/* line 1, ../scss/partials/_header.scss */
header {
  padding: 0;
  background: url("../img/header_bg.jpg") no-repeat center;
  height: 558px;
}
/* line 6, ../scss/partials/_header.scss */
header .container-fluid {
  margin: 0;
  padding: 0;
}

/* line 12, ../scss/partials/_header.scss */
.subpage-header {
  height: 370px;
}

/*******************  NAVIGATION  ***********************/
/* line 18, ../scss/partials/_header.scss */
.container-fluid .navigation {
  transition: all 0.3s ease-out;
  position: absolute;
  z-index: 10;
  height: 95px;
  border-bottom: 1px solid #6e737c;
}

/* line 26, ../scss/partials/_header.scss */
.navigation .navbar-nav.nav-min {
  margin-top: 0;
  display: none;
}

/* line 31, ../scss/partials/_header.scss */
.navigation-fixed .nav-min {
  display: none;
}
/* line 34, ../scss/partials/_header.scss */
.navigation-fixed .nav-min a:active, .navigation-fixed .nav-min a:hover, .navigation-fixed .nav-min a:focus {
  background: transparent;
  color: #fff;
}

/* line 40, ../scss/partials/_header.scss */
.navigation .navbar-nav li > a {
  line-height: 95px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Open Sans", sans-serif;
}
/* line 46, ../scss/partials/_header.scss */
.navigation .navbar-nav li > a:active, .navigation .navbar-nav li > a:hover, .navigation .navbar-nav li > a:focus {
  background: transparent;
  color: #fff;
}

/* line 52, ../scss/partials/_header.scss */
.navigation-fixed .navbar-nav {
  margin-right: 30px;
  margin-top: 0;
}

/* line 57, ../scss/partials/_header.scss */
.navigation-fixed .navbar-nav li > a {
  line-height: 55px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Open Sans", sans-serif;
}
/* line 63, ../scss/partials/_header.scss */
.navigation-fixed .navbar-nav li > a:active {
  background: transparent;
}

/* line 68, ../scss/partials/_header.scss */
.container-fluid .navigation-fixed {
  transition: all 0.3s ease-out;
  position: fixed;
  margin-left: 0;
  width: 100%;
  z-index: 20;
  height: 55px;
  background-color: #111a2b;
}

/* line 79, ../scss/partials/_header.scss */
.navigation .logo-text:hover, .navigation-fixed .logo-text:hover {
  cursor: pointer;
  color: #fff;
}
/* line 84, ../scss/partials/_header.scss */
.navigation ul li a, .navigation-fixed ul li a {
  float: right;
}
/* line 87, ../scss/partials/_header.scss */
.navigation ul li a:hover, .navigation-fixed ul li a:hover {
  background: transparent;
  color: #fff;
}

/* line 94, ../scss/partials/_header.scss */
.head-text {
  margin-top: 150px;
}

@media screen and (max-width: 768px) {
  /* line 100, ../scss/partials/_header.scss */
  .navigation .navbar-nav.nav-items,
  .navigation-fixed .navbar-nav.nav-items {
    position: absolute;
    right: 0;
    width: 200px;
    color: #fff;
    text-align: center;
  }
  /* line 107, ../scss/partials/_header.scss */
  .navigation .navbar-nav.nav-items li a,
  .navigation-fixed .navbar-nav.nav-items li a {
    float: none;
    display: block;
    line-height: 45px;
  }

  /* line 114, ../scss/partials/_header.scss */
  .navigation .navbar-nav.nav-items {
    top: 100px;
    background-color: #0e1624;
  }

  /* line 119, ../scss/partials/_header.scss */
  .navigation-fixed .navbar-nav.nav-items {
    top: 54px;
    background-color: #111a2b;
  }

  /* line 124, ../scss/partials/_header.scss */
  header {
    height: 470px;
  }

  /* line 128, ../scss/partials/_header.scss */
  .navigation .nav.navbar-nav {
    display: none;
  }

  /* line 132, ../scss/partials/_header.scss */
  .navigation-fixed .nav-items {
    display: none;
  }

  /* line 136, ../scss/partials/_header.scss */
  .navigation .navbar-nav.nav-min {
    display: block;
    float: right;
  }

  /* line 141, ../scss/partials/_header.scss */
  .navigation-fixed .nav-min {
    display: block;
  }
}
/*******************  SUBHEADER TEXT  ***********************/
/* line 3, ../scss/partials/_articles.scss */
.sub-text {
  margin-top: 90px;
  margin-bottom: 100px;
  padding: 0 30px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

/*******************  THREE COLUMNS  ***********************/
/* line 13, ../scss/partials/_articles.scss */
.three-cols {
  text-align: justify;
  margin: 0 auto;
}
/* line 17, ../scss/partials/_articles.scss */
.three-cols .container {
  margin: 0 auto;
}
/* line 21, ../scss/partials/_articles.scss */
.three-cols .extend {
  display: inline-block;
  width: 100%;
}
/* line 26, ../scss/partials/_articles.scss */
.three-cols .col {
  width: 30%;
  display: inline-block;
  padding: 0;
  float: none;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  margin: 30px 0;
  text-align: center;
}
/* line 36, ../scss/partials/_articles.scss */
.three-cols .col .art-content {
  padding: 20px 40px;
}
/* line 40, ../scss/partials/_articles.scss */
.three-cols .col h2 {
  margin-top: 0;
}
/* line 44, ../scss/partials/_articles.scss */
.three-cols .col .col-images1 {
  height: 161px;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 23, ../scss/partials/_mixins.scss */
.three-cols .col .col-images1 img {
  width: 100%;
}
/* line 27, ../scss/partials/_mixins.scss */
.three-cols .col .col-images1:before {
  content: "";
  position: absolute;
  width: 95px;
  height: 95px;
  top: -47px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: url("../img/col1.png") no-repeat;
}
/* line 48, ../scss/partials/_articles.scss */
.three-cols .col .col-images2 {
  height: 161px;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 23, ../scss/partials/_mixins.scss */
.three-cols .col .col-images2 img {
  width: 100%;
}
/* line 27, ../scss/partials/_mixins.scss */
.three-cols .col .col-images2:before {
  content: "";
  position: absolute;
  width: 95px;
  height: 95px;
  top: -47px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: url("../img/col2.png") no-repeat;
}
/* line 52, ../scss/partials/_articles.scss */
.three-cols .col .col-images3 {
  height: 161px;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 23, ../scss/partials/_mixins.scss */
.three-cols .col .col-images3 img {
  width: 100%;
}
/* line 27, ../scss/partials/_mixins.scss */
.three-cols .col .col-images3:before {
  content: "";
  position: absolute;
  width: 95px;
  height: 95px;
  top: -47px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: url("../img/col3.png") no-repeat;
}

/*******************  OUR FEATURES  ***********************/
/* line 60, ../scss/partials/_articles.scss */
.our-features {
  margin-top: 80px;
}
/* line 63, ../scss/partials/_articles.scss */
.our-features .features-hr {
  height: 40px;
  background: url("../img/features.jpg") no-repeat center;
  position: relative;
}
/* line 6, ../scss/partials/_mixins.scss */
.our-features .features-hr:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  z-index: -1;
  background: #e1e1e1;
  top: 50%;
}
/* line 67, ../scss/partials/_articles.scss */
.our-features .feature {
  margin: 50px 0;
}
/* line 70, ../scss/partials/_articles.scss */
.our-features .feature .img-left {
  display: inline-block;
}
/* line 74, ../scss/partials/_articles.scss */
.our-features .feature .img-right {
  display: inline-block;
  float: right;
}
/* line 80, ../scss/partials/_articles.scss */
.our-features .features-link {
  margin-top: 20px;
  display: inline-block;
  border: 2px solid #71b6d5;
  border-radius: 5px;
  color: #71b6d5;
  font-weight: 700;
  padding: 10px 20px;
  text-transform: uppercase;
}
/* line 90, ../scss/partials/_articles.scss */
.our-features .features-link:hover {
  text-decoration: none;
}

/*******************  PROJECTS  ***********************/
/* line 98, ../scss/partials/_articles.scss */
.project {
  margin: 30px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
/* line 103, ../scss/partials/_articles.scss */
.project .proj-image {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 110, ../scss/partials/_articles.scss */
.project .proj-image img {
  width: 100%;
}
/* line 114, ../scss/partials/_articles.scss */
.project .proj-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.2s ease-in;
  cursor: pointer;
}
/* line 128, ../scss/partials/_articles.scss */
.project .proj-image:hover::before {
  opacity: 1;
}
/* line 134, ../scss/partials/_articles.scss */
.project .project-title {
  font-size: 20px;
  font-weight: 600;
  color: #484848;
  margin-bottom: 5px;
}
/* line 141, ../scss/partials/_articles.scss */
.project .project-description {
  font-size: 15px;
  font-weight: 300;
  color: #575757;
}

/* line 148, ../scss/partials/_articles.scss */
.projects-hr {
  height: 40px;
  background: url("../img/projects.jpg") no-repeat center;
  position: relative;
}
/* line 6, ../scss/partials/_mixins.scss */
.projects-hr:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  z-index: -1;
  background: #e1e1e1;
  top: 50%;
}

/******************* CONTACT PAGE ***********************/
/* line 154, ../scss/partials/_articles.scss */
.contact-info {
  margin-top: 80px;
}
/* line 157, ../scss/partials/_articles.scss */
.contact-info .col-md-3, .contact-info .col-xs-6 {
  margin: 50px 0 80px 0;
  text-align: center;
}
/* line 162, ../scss/partials/_articles.scss */
.contact-info .contact-info-hr {
  height: 40px;
  background: url("../img/features.jpg") no-repeat center;
  position: relative;
}
/* line 6, ../scss/partials/_mixins.scss */
.contact-info .contact-info-hr:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  z-index: -1;
  background: #e1e1e1;
  top: 50%;
}

/* line 167, ../scss/partials/_articles.scss */
#map {
  width: 100%;
  height: 300px;
}

/******************* PORTFOLIO ***********************/
/* line 174, ../scss/partials/_articles.scss */
.main-content {
  margin-top: 30px;
  margin-bottom: 50px;
}
/* line 178, ../scss/partials/_articles.scss */
.main-content .col-md-4 {
  float: right;
}
/* line 182, ../scss/partials/_articles.scss */
.main-content .col-md-3 {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding-bottom: 45px;
}
/* line 187, ../scss/partials/_articles.scss */
.main-content .col-md-3 .logo {
  text-align: center;
}
/* line 191, ../scss/partials/_articles.scss */
.main-content .col-md-3 h2.col-title {
  text-align: center;
}
/* line 196, ../scss/partials/_articles.scss */
.main-content .col-md-3 .blog-tags .tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 3px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  color: #575757;
  transition: all 0.2s;
}
/* line 205, ../scss/partials/_articles.scss */
.main-content .col-md-3 .blog-tags .tag:hover {
  text-decoration: none;
  border-color: #71b6d5;
  color: #71b6d5;
  transition: all 0.2s;
}
/* line 215, ../scss/partials/_articles.scss */
.main-content .proj-left {
  border-left: 1px solid #e1e1e1;
}
/* line 219, ../scss/partials/_articles.scss */
.main-content .project-sample {
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  padding-left: 0;
  padding-right: 0;
  max-width: 240px;
  overflow: hidden;
}
/* line 227, ../scss/partials/_articles.scss */
.main-content .project-sample .project-description {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 232, ../scss/partials/_articles.scss */
.main-content .project-sample .project-description .proj-title {
  margin-top: 30px;
  margin-bottom: 7px;
  font-size: 20px;
  line-height: 1;
}
/* line 239, ../scss/partials/_articles.scss */
.main-content .project-sample .project-description .proj-type {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 1;
}
/* line 246, ../scss/partials/_articles.scss */
.main-content .project-sample .project-description .project-image {
  width: 100%;
}
/* line 250, ../scss/partials/_articles.scss */
.main-content .project-sample .project-description .project-image img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  /* line 261, ../scss/partials/_articles.scss */
  .three-cols .col {
    width: 100%;
  }
  /* line 263, ../scss/partials/_articles.scss */
  .three-cols .col .col-images1, .three-cols .col .col-images3 {
    float: left;
    border-radius: 8px 0 0 8px;
  }
  /* line 267, ../scss/partials/_articles.scss */
  .three-cols .col .col-images1:before, .three-cols .col .col-images3:before {
    background: none;
  }
  /* line 272, ../scss/partials/_articles.scss */
  .three-cols .col .col-images2 {
    float: right;
    border-radius: 0 8px 8px 0;
  }
  /* line 276, ../scss/partials/_articles.scss */
  .three-cols .col .col-images2:before {
    background: none;
  }
}
@media screen and (max-width: 768px) {
  /* line 287, ../scss/partials/_articles.scss */
  .main-content .left-menu {
    margin: 30px;
  }
  /* line 291, ../scss/partials/_articles.scss */
  .main-content .col-md-4 {
    margin: 0 auto;
    float: none;
  }

  /* line 298, ../scss/partials/_articles.scss */
  .three-cols {
    text-align: center;
  }
  /* line 301, ../scss/partials/_articles.scss */
  .three-cols .col {
    width: 50%;
  }
  /* line 304, ../scss/partials/_articles.scss */
  .three-cols .col .col-images1, .three-cols .col .col-images2, .three-cols .col .col-images3 {
    float: none;
  }

  /* line 310, ../scss/partials/_articles.scss */
  .our-features {
    text-align: center;
  }
  /* line 314, ../scss/partials/_articles.scss */
  .our-features .feature .img-right {
    float: none;
  }
  /* line 319, ../scss/partials/_articles.scss */
  .our-features img {
    margin-bottom: 30px;
  }
}
/******************* TOP SLIDER ***********************/
/* line 3, ../scss/partials/_sliders.scss */
#my-carousel .carousel-inner {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 200px;
}
/* line 8, ../scss/partials/_sliders.scss */
#my-carousel .carousel-inner h2 {
  font-weight: 700;
  font-size: 36px;
}
/* line 13, ../scss/partials/_sliders.scss */
#my-carousel .carousel-inner h3 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 40px;
}
/* line 19, ../scss/partials/_sliders.scss */
#my-carousel .carousel-inner a {
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 90px;
  background: #71b6d5;
  cursor: pointer;
}
/* line 31, ../scss/partials/_sliders.scss */
#my-carousel .carousel-inner a:hover {
  color: white;
  text-decoration: none;
}

/* line 38, ../scss/partials/_sliders.scss */
#my-carousel .carousel-control {
  background-image: none;
  opacity: 1;
}

/* line 43, ../scss/partials/_sliders.scss */
.carousel-control img {
  position: absolute;
  top: 50%;
}

/* line 48, ../scss/partials/_sliders.scss */
#my-carousel .carousel-indicators li {
  width: 6px;
  height: 6px;
  margin: 0 10px;
  border: 0;
  position: relative;
  background: white;
}
/* line 57, ../scss/partials/_sliders.scss */
#my-carousel .carousel-indicators li.active::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  width: 22px;
  height: 22px;
  border: 2px solid white;
  border-radius: 50%;
}

/*******************  CLIENT TESTIMONIALS  ***********************/
/* line 72, ../scss/partials/_sliders.scss */
.testimonials-hr {
  height: 40px;
  background: url("../img/testimonials.jpg") no-repeat center;
  position: relative;
  margin-top: 20px;
}
/* line 6, ../scss/partials/_mixins.scss */
.testimonials-hr:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  z-index: -1;
  background: #e1e1e1;
  top: 50%;
}

/* line 77, ../scss/partials/_sliders.scss */
#my-carousel2 .carousel-inner .item {
  padding-top: 20px;
  margin-bottom: 70px;
  font-family: "Open Sans", sans-serif;
}

/* line 83, ../scss/partials/_sliders.scss */
#my-carousel2 .carousel-inner .item {
  text-align: center;
}
/* line 86, ../scss/partials/_sliders.scss */
#my-carousel2 .carousel-inner .item .testimonial-auth {
  padding-top: 15px;
}

/* line 91, ../scss/partials/_sliders.scss */
#my-carousel2 .carousel-indicators li {
  background-color: #e1e1e1;
}

/* line 95, ../scss/partials/_sliders.scss */
#my-carousel2 .carousel-indicators .active {
  background-color: #71b6d5;
}

@media screen and (max-width: 768px) {
  /* line 101, ../scss/partials/_sliders.scss */
  #my-carousel .carousel-inner {
    margin-top: 150px;
  }
  /* line 104, ../scss/partials/_sliders.scss */
  #my-carousel .carousel-inner h2 {
    font-size: 30px;
  }
  /* line 109, ../scss/partials/_sliders.scss */
  #my-carousel .carousel-control {
    display: none;
  }
}
/* line 2, ../scss/partials/_forms.scss */
.contact-form .contact-form-hr {
  height: 40px;
  background: url("../img/mail-hr.png") no-repeat center;
  position: relative;
}
/* line 6, ../scss/partials/_mixins.scss */
.contact-form .contact-form-hr:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  z-index: -1;
  background: #e1e1e1;
  top: 50%;
}
/* line 6, ../scss/partials/_forms.scss */
.contact-form .user-name {
  padding: 0;
  padding-right: 5px;
}
/* line 11, ../scss/partials/_forms.scss */
.contact-form .user-mail {
  padding: 0;
  padding-left: 5px;
}
/* line 16, ../scss/partials/_forms.scss */
.contact-form form {
  margin: 55px 0 75px 0;
}

/* line 22, ../scss/partials/_forms.scss */
form input[type=text], form textarea.form-control {
  margin-bottom: 10px;
  background: #f5f5f5;
  border-color: #e2e2e2;
  box-shadow: 0 0;
}
/* line 29, ../scss/partials/_forms.scss */
form input[type=text] {
  padding: 18px;
}
/* line 33, ../scss/partials/_forms.scss */
form textarea.form-control {
  resize: none;
  height: 240px;
  padding: 20px;
}
/* line 39, ../scss/partials/_forms.scss */
form input[type=submit].form-control {
  background: #71b6d5;
  border-color: #71b6d5;
  color: #fff;
  font-weight: 700;
}

/***** FOOTER FORM *****/
/* line 49, ../scss/partials/_forms.scss */
.newsletter input {
  float: left;
}
/* line 53, ../scss/partials/_forms.scss */
.newsletter input[type="text"] {
  background-color: #172227;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 10px;
}
/* line 61, ../scss/partials/_forms.scss */
.newsletter input[type="submit"] {
  border: none;
  padding: 5px 10px;
  background-color: #71b6d5;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
}

/* line 1, ../scss/partials/_footer.scss */
footer {
  font-family: "Open Sans", sans-serif;
  padding-top: 75px;
}
/* line 5, ../scss/partials/_footer.scss */
footer p {
  font-size: 13px;
  color: #a7aeb2;
}

/* line 12, ../scss/partials/_footer.scss */
.contact ul li {
  line-height: 26px;
  padding-left: 45px;
}
/* line 17, ../scss/partials/_footer.scss */
.contact .city {
  background: url("../img/address.png") no-repeat 4px 2px;
}
/* line 21, ../scss/partials/_footer.scss */
.contact .mail {
  background: url("../img/mail.png") no-repeat 0px 4px;
}
/* line 25, ../scss/partials/_footer.scss */
.contact .phone {
  background: url("../img/phone.png") no-repeat 2px 3px;
}

/* line 31, ../scss/partials/_footer.scss */
.tweets .tweet {
  margin-bottom: 20px;
}
/* line 35, ../scss/partials/_footer.scss */
.tweets p {
  background: url("../img/tweet.png") no-repeat 2px 6px;
  padding-left: 35px;
  margin-bottom: 0px;
}
/* line 41, ../scss/partials/_footer.scss */
.tweets a {
  color: #71b6d5;
  padding-left: 35px;
  font-size: 13px;
  padding-bottom: 20px;
}

/* line 49, ../scss/partials/_footer.scss */
.copyright {
  height: 90px;
  background: #172227;
  margin-top: 65px;
  padding-top: 25px;
}

/* line 58, ../scss/partials/_footer.scss */
.social-media .social {
  float: right;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 3px;
  background-repeat: no-repeat;
}
/* line 67, ../scss/partials/_footer.scss */
.social-media .twitter {
  background-image: url("../img/social.png");
  background-position: 0 0;
  width: 31px;
}
/* line 72, ../scss/partials/_footer.scss */
.social-media .twitter:hover {
  background-position: 0 -30px;
}
/* line 77, ../scss/partials/_footer.scss */
.social-media .fb {
  background-image: url("../img/social.png");
  background-position: -31px 0;
}
/* line 81, ../scss/partials/_footer.scss */
.social-media .fb:hover {
  background-position: -31px -30px;
}
/* line 86, ../scss/partials/_footer.scss */
.social-media .linekdin {
  background-image: url("../img/social.png");
  background-position: -61px 0;
}
/* line 90, ../scss/partials/_footer.scss */
.social-media .linekdin:hover {
  background-position: -61px -30px;
}
